
    /*body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        text-align: center;
    }

    table {
        margin: 20px auto; /* centraliza a tabela */
     /*   border-collapse: collapse;
    }

    th, td {
        padding: 8px 12px;
    }

    th {
        background-color: #f2f2f2;
    }

    a {
        text-decoration: none;
        color: blue;
    }

    a:hover {
        text-decoration: underline;
    }

    form {
        margin-bottom: 20px;//
    }
